In [1]:
import pandas as pd  
import numpy as np

In [2]:
us_east=pd.read_csv("datasets/us-east-1.csv")
us_west=pd.read_csv("datasets/us-west-1.csv")

# DATA PREPROCESSING

In [3]:
us_east.head()

   2017-05-08 21:38:41+00:00    d2.xlarge  SUSE Linux  us-east-1c   0.277
0  2017-05-08 21:38:41+00:00    d2.xlarge  Linux/UNIX  us-east-1c  0.1770
1  2017-05-08 21:38:37+00:00   c3.4xlarge  SUSE Linux  us-east-1d  0.4061
2  2017-05-08 21:38:37+00:00   c3.4xlarge  Linux/UNIX  us-east-1d  0.3061
3  2017-05-08 21:38:37+00:00  m4.10xlarge  SUSE Linux  us-east-1d  0.8234
4  2017-05-08 21:38:37+00:00  m4.10xlarge  Linux/UNIX  us-east-1d  0.7234

In [4]:
us_west.head()

   2017-05-08 21:45:45+00:00  c3.4xlarge     Windows  us-west-1b  0.5022
0  2017-05-08 21:45:35+00:00  r3.2xlarge  SUSE Linux  us-west-1c  0.2763
1  2017-05-08 21:45:35+00:00  r3.2xlarge  Linux/UNIX  us-west-1c  0.1763
2  2017-05-08 21:45:29+00:00  c4.8xlarge     Windows  us-west-1b  1.6136
3  2017-05-08 21:45:27+00:00  c3.8xlarge     Windows  us-west-1b  1.0150
4  2017-05-08 21:45:27+00:00  c3.8xlarge     Windows  us-west-1c  1.0038

In [5]:
labels=['Date',"Instance Type","OS","Region","Price($)"]

In [6]:
us_east.columns=labels
us_west.columns=labels

In [7]:
us_east['Date'] = pd.to_datetime(us_east['Date'])
us_west['Date'] = pd.to_datetime(us_west['Date'])

In [8]:
print("\nMissing values in US East:")
print(us_east.isnull().sum())

print("\nMissing values in US West:")
print(us_west.isnull().sum())

Missing values in US East:
Date             0
Instance Type    0
OS               0
Region           0
Price($)         0
dtype: int64

Missing values in US West:
Date             0
Instance Type    0
OS               0
Region           0
Price($)         0
dtype: int64

In [9]:
us_east['Region'] = 'us-east'
us_west['Region'] = 'us-west'

In [10]:
data = pd.concat([us_east, us_west])
data

                             Date Instance Type          OS   Region  Price($)
0       2017-05-08 21:38:41+00:00     d2.xlarge  Linux/UNIX  us-east    0.1770
1       2017-05-08 21:38:37+00:00    c3.4xlarge  SUSE Linux  us-east    0.4061
2       2017-05-08 21:38:37+00:00    c3.4xlarge  Linux/UNIX  us-east    0.3061
3       2017-05-08 21:38:37+00:00   m4.10xlarge  SUSE Linux  us-east    0.8234
4       2017-05-08 21:38:37+00:00   m4.10xlarge  Linux/UNIX  us-east    0.7234
...                           ...           ...         ...      ...       ...
2497994 2017-03-24 19:47:16+00:00     r3.xlarge  SUSE Linux  us-west    0.1471
2497995 2017-03-24 19:47:16+00:00     r3.xlarge  Linux/UNIX  us-west    0.0471
2497996 2017-03-24 19:47:09+00:00    g2.2xlarge     Windows  us-west    0.1626
2497997 2017-03-24 19:47:07+00:00     m1.medium     Windows  us-west    0.0409
2497998 2017-03-24 19:47:06+00:00      m3.large  SUSE Linux  us-west    0.1244

[6219998 rows x 5 columns]

In [16]:
data['Date']=pd.to_datetime(data['Date'])

In [ ]:
data['Year']=data['Date'].dt.year
data['Month']=data['Date'].dt.month